body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

svg {
    background-color: white;
}

.bar {
    background-color: gray;
    border-color: gray;
    fill: lightseagreen;
}

.bar:hover {
    fill: black;
}

g {
    color: black
}

#tooltip {
    margin-top: 10px;
    color: black;
    font-size: 25px;
}

#title {
    font-size: 30px;
    fill: black;
}